.elementor-413 .elementor-element.elementor-element-71ad7fd > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-413 .elementor-element.elementor-element-71ad7fd:not(.elementor-motion-effects-element-type-background), .elementor-413 .elementor-element.elementor-element-71ad7fd > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#343C43;}.elementor-413 .elementor-element.elementor-element-71ad7fd{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:20px 20px 20px 20px;}.elementor-413 .elementor-element.elementor-element-71ad7fd > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-413 .elementor-element.elementor-element-47fcac19.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:space-between;}.elementor-413 .elementor-element.elementor-element-47fcac19 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-413 .elementor-element.elementor-element-335068d3 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(20px/2);}.elementor-413 .elementor-element.elementor-element-335068d3 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(20px/2);}.elementor-413 .elementor-element.elementor-element-335068d3 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(20px/2);margin-left:calc(20px/2);}.elementor-413 .elementor-element.elementor-element-335068d3 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-20px/2);margin-left:calc(-20px/2);}body.rtl .elementor-413 .elementor-element.elementor-element-335068d3 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-20px/2);}body:not(.rtl) .elementor-413 .elementor-element.elementor-element-335068d3 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-20px/2);}.elementor-413 .elementor-element.elementor-element-335068d3 .elementor-icon-list-item:not(:last-child):after{content:"";height:100%;border-color:#ddd;}.elementor-413 .elementor-element.elementor-element-335068d3 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child):after{border-top-style:solid;border-top-width:1px;}.elementor-413 .elementor-element.elementor-element-335068d3 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:not(:last-child):after{border-left-style:solid;}.elementor-413 .elementor-element.elementor-element-335068d3 .elementor-inline-items .elementor-icon-list-item:not(:last-child):after{border-left-width:1px;}.elementor-413 .elementor-element.elementor-element-335068d3 .elementor-icon-list-icon i{font-size:14px;}.elementor-413 .elementor-element.elementor-element-335068d3 .elementor-icon-list-icon svg{width:14px;}.elementor-413 .elementor-element.elementor-element-335068d3 .elementor-icon-list-text{color:#F0F4F8;}.elementor-413 .elementor-element.elementor-element-335068d3 .elementor-icon-list-item:hover .elementor-icon-list-text{color:#25C90C;}.elementor-413 .elementor-element.elementor-element-335068d3 .elementor-icon-list-item{font-size:14px;font-weight:bold;}.elementor-413 .elementor-element.elementor-element-335068d3{width:auto;max-width:auto;}.elementor-413 .elementor-element.elementor-element-31351095{width:auto;max-width:auto;}@media(max-width:767px){.elementor-413 .elementor-element.elementor-element-71ad7fd{margin-top:0px;margin-bottom:0px;padding:50px 20px 50px 20px;}.elementor-413 .elementor-element.elementor-element-47fcac19.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-413 .elementor-element.elementor-element-335068d3 > .elementor-widget-container{margin:0px 0px 30px 0px;}}/* Start custom CSS for html, class: .elementor-element-31351095 */.df-copyright {
    text-align: center;
    font-size: 14px;
	font-family:"Proxima Nova",arial,sans-serif;
	color:white;
}

@media screen and (max-width:768px){
	.df-copyright {
		text-align:center;
	}
}
.df-copyright img{
	max-width:25px;
	vertical-align:middle;
	margin-top:-8px;
}

.df-copyright a{
	color:white !important;
	text-decoration:underline;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-47fcac19 */#logo .topper{
    display:inline-block;
    background:white;
    color:#343C43;
    padding:3px 8px 3px 0;
}

#logo .bottom{
    display:inline-block;
    background:#3BAD2A;
    color:white;
    padding:3px 8px;
    
}/* End custom CSS */